@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono&display=swap" rel="stylesheet');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #006600;
  --secondary-color: #000000;
  --accent1-color: #C90E0E;
  --accent2-color: #DDD346;

  /* change the values below to your chosen font(s) */
  --heading-font: "Roboto Mono", monospace;
  --paragraph-font: "Raleway", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--accent1-color); /* headlines on a white background */
  --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */
  --paragraph-color-on-white: var(--accent1-color); /* paragraph text on a white background */
  --paragraph-color-on-color: var(--accent2-color); /* paragraph text on a colored background */
  --text-background-color: var(--secondary-color);
  --nav-link-color: var(--accent1-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--secondary-color);
}
img#myPhoto{
    position: absolute;
    right: 50px;
    top: 100px;
    height: 50%;
    width: 40%;
    z-index: 1;
}
div#gridStructure {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 30px;
    z-index: -1;
    background-color:var(--accent2-color);
    font-family: var(--paragraph-font);
}       

        h1#myName{ 
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            font-size: 60px;
            text-align: left;            
            background-color:var(--text-background-color);
            color:var(--headline-color-on-white);
            font-family: var(--heading-font);
        }
        h2#linkDescription {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            font-size: 40px;
            text-align: left;
            color:var(--headline-color-on-white);
            font-family: var(--heading-font);
        }
        ul#portalLinks{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            font-size: 30px;
            text-align: left;
            color:var(--headline-color-on-white);
        }
        footer{  
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            background-color:var(--text-background-color);
            color:var(--headline-color-on-white);
            font-size: 15px;
            text-align: center;
        }