@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono&display=swap" rel="stylesheet');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: #000000;
  --accent1-color:#000000;
  --accent2-color: #DDD346;

  /* change the values below to your chosen font(s) */
  --heading-font: "Roboto Mono", monospace;
  --paragraph-font: "Raleway", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--accent2-color); /* headlines on a white background */
  --headline-color-on-color: var(--accent1-color); /* headlines on a colored background */
  --paragraph-color-on-white: var(--accent2-color); /* paragraph text on a white background */
  --paragraph-color-on-color: var(--accent1-color); /* paragraph text on a colored background */
  --headline-background-color: var(--secondary-color);
  --text-background-color: var(--primary-color);
  --nav-link-color: var(--accent2-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--primary-color);
}

img.Pic {
    height: 500px;
    width: 250px;
    border: var(--secondary-color);
    z-index: 1;
}
p.paragraphs{
    font-family: var(--heading-font);
}
div#gridStructure {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 30px;
    color:var(--paragraph-color-on-color);
    background-color:var(--text-background-color);
    font-family: var(--paragraph-font);
    z-index: -1;
}       
        h1.assignments{ 
            grid-column: 1/3;
            grid-row-start: 1/2;
            font-size: 60px;
            text-align: left;            
            background-color:var(--headline-background-color);
            color:var(--headline-color-on-white);
            font-family: var(--heading-font);
            z-index: 1;
        }
        div#section1{
            grid-column: 1/2;
            grid-row-start: 2/3;
        }
        img#screenshot1{
            grid-column: 2/3;
            grid-row-start: 2/3;
        }
        div#section2{
            grid-column: 1/2;
            grid-row-start: 3/4;
        }
        img#screenshot1{
            grid-column: 2/3;
            grid-row-start: 3/4;
        }
        div#section3{
            grid-column: 1/2;
            grid-row-start: 4/5;
        }
        img#screenshot1{
            grid-column: 2/3;
            grid-row-start: 4/5;
        }
        h2.topics {
            font-size: 40px;
            text-align: left;
            font-family: var(--heading-font);
            z-index: 2;
        }
            a.portLink{
                color:var(--paragraph-color-on-color);
            }
        footer{  
            grid-column: 1/3;
            grid-row-start: 5/6;
            background-color:var(--headline-background-color);
            color:var(--headline-color-on-white);
            font-size: 20px;
            text-align: center;
        }
            a#byui-link{
                color:var(--headline-color-on-white);
            }        